@slider-border: 1px solid #cccccc;
@slider-offset: 15px;
@map-offset: 0;
@background: #666;
@color: #fff;
@transparent: 0.8;

#map-div {
  position: absolute;
  padding: @map-offset;
  top: 50px;
  left: @map-offset;
  right: @map-offset;
  bottom: @map-offset;
  .container {
    max-width: 100% !important; // fixes conflict with Bootstrap css
  }
}

